html {
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(23, 43, 80), rgb(68, 103, 167));
  margin: 0;
  padding: 0;
}

/* Cambiar el color de fondo de la navbar */
.bg-body-tertiary {
  background-color: rgb(65, 65, 65) !important; /* Gris oscuro para el fondo */
}

/* Para el color de las letras de los elementos de la navbar */
.navbar-nav .nav-link {
  color: rgb(255, 255, 255); /* Blanco para las letras */
}

/* Para cambiar el color de las letras de los elementos del navbar */
.navbar-nav .nav-link.active {
  color: rgb(76, 169, 201); /* Azul claro para el elemento activo */
  font-weight: bold;
}

.navbar-nav .nav-link.disabled {
  color: rgb(100, 100, 100); /* gris para los elementos incativos */
}

.contenedor-titulo {
  background-color: rgb(100, 100, 100);
  padding: 1px;
}

.navbar-brand img {
  width: 250px; /* Ancho de la imagen */
}

.mi-columna-oscurecida {
  background-color: rgba(0, 0, 0, 0.8); /* Aumenta la opacidad para oscurecer */
}

.content_box_wide {
  background-color: rgba(0, 0, 0, 0.356);
  position: absolute;
  top: 50%; /* Ajusta la posición vertical según necesites */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Asegura que la caja de texto esté sobre las imágenes */
  color: #000000; /* El color del texto */
  text-align: center; /* Centra el texto dentro de la caja */
  /* Agrega aquí más estilos si es necesario */
  width: 50%; /* Porcentaje del ancho de la pantalla */
  height: 50%; /* Porcentaje de la altura de la pantalla */
  max-width: 1000px; /* Ancho máximo para dispositivos grandes */
  max-height: 500px; /* Altura máxima para dispositivos grandes */
  box-sizing: border-box; /* Asegura que padding y border estén incluidos en el ancho/altura */
}

.responsive_image {
  max-width: 100%; /* Hace que la imagen sea tan ancha como su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}